{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="max-w-6xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Categorias</h1>

  {% if categorias %}
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
      {% for categoria in categorias %}
        <div class="bg-white border rounded-2xl shadow-sm hover:shadow-lg transition duration-300 cursor-pointer">
          <a href="{% url 'produtos_por_categoria' categoria.slug %}">
            <img src="{% static 'img/categoria-default.jpg' %}" alt="{{ categoria.nome }}"
                 class="w-full h-40 object-cover rounded-t-2xl">

            <div class="p-3 flex flex-col justify-center h-40">
              <h2 class="text-sm font-semibold text-gray-800 mb-1 truncate text-center">
                {{ categoria.nome }}
              </h2>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-gray-600 text-lg text-center">Nenhuma categoria cadastrada.</p>
  {% endif %}
</div>
{% endblock %}
